*{
    margin: 0px;
    padding: 0px;
}

body{
    background: #f9f9f9;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.clearfix {
    clear: both;
}
.wrapper{
    margin:0 auto;
    background: white;
    width: 1060px;
    height: 100%;
    border-left: #c8c8c8 solid 1px;
    border-right: #c8c8c8 solid 1px;
    box-shadow: 0px 0px 3px gray;
}

.header{
    padding: 50px 0 40px 45px;
}

.menu{
    height: 36px;
    width: 966px;
    background: #525151;
    margin-top: 36px;
}

.menu__list, .downMenu__list{
    font-size: 0px;
}

.menu__list--item, .downMenu__list--item{
    display: inline-block;
}

.leftMenu__list--item{
    width: 240px;
    height: 40px;
    border: 1px solid #c8c8c8;
    border-top: 1px solid rgba(0,0,0,0);
}

.leftMenu__list--item:first-child{
    border-top: 1px solid #c8c8c8;
}

.menu__list--link{
    padding: 7px 30px 7px 40px;
    font-size: 14px;
    text-decoration: none;
    line-height: 38px;
    background: #525151;
    color: white;
    border: 1px solid rgba(255,255,255,0);
}

.menu__list--link:hover{

    background: #464646;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.content{
    padding: 0px 0 40px 45px;
}

.leftMenu{
    float: left;
}

.content__body{
    float: right;
    width: 675px;
    margin-right: 47px;
}

.content__body--img{
    border: 1px solid #c8c8c8;
    padding: 40px 80px;
}

.content_body--txt{
    margin: 40px 0 60px 25px;
     color: #2c2c2c;
}

.leftMenu__list{
    list-style: none;
}

.leftMenu__list--link{
    text-decoration: none;
    color: #656363;
    line-height: 40px;
    padding: 12px 120px 12px 25px;
}


.leftMenu__list--link:hover{
    color: #2c2c2c;
    padding-left: 35px;
}

.footer{
    position: relative;
}

.downMenu{
    height: 36px;
    width: 966px;
    background: #e1e1e1;
    margin: 30px 0 60px 40px;
}

.downMenu__list--link{
    font-size: 14px;
    color: #2c2c2c;
}

.downMenu__list--link{
    padding: 7px 30px 7px 40px;
    font-size: 14px;
    text-decoration: none;
    line-height: 38px;
    background: #e1e1e1;
}

.downMenu__list--link:hover{
    text-decoration: underline;
}

.copyrite{
    position: absolute;
    left: 815px;
    top: 8px;
}