body{
	background: #efefef;
	font-size: 18px;
}
.wraper{
	margin: 2px auto;
	width: 510px;
	height: 750px;
	background: white;
	border: 1px solid #cfcfcf;
	box-shadow: 1px 1px 5px grey;
}

.header{
	text-align: center;
}

h2{
	font-size: 18px;
}

.section{
	margin: 0px 40px 0px 40px;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	padding-left:20px; 
}

.contakt{
	margin: 0px 40px 0px 40px;
	border-bottom: 1px solid grey;	
	padding-left:20px;
	padding-bottom: 20px;
}

.footer{
	margin: 0px 40px 0px 40px;
	padding-left:20px;	
}